extends ../partials/head
block content
  .brand-wrapper
    a.main-page-button(href=language_key ? "/?lang=" + language_key : "/")
      img(src="/res/images/logo.png" alt="usersmagic tester")
    .language-change-wrapper
      a.language-text(href="/auth/email_error?lang=tr") TR
      span |
      a.language-text(href="/auth/email_error?lang=en") EN
  .all-wrapper
    .all-inner-wrapper
      span.logo-name usersmagic
      span.confirm-info-text
        span= __('There was an error sending the confirmation mail to your address,')
        span.confirm-email= ` ${user.email} `
        span= __('. Please try again in a few hours. If the problem continues, you may reach our team at hello@usersmagic.com.')
      a.general-seablue-button(href="/auth/confirm")
        span #{__('Resend Confirmation Link')}
    .bottom-wrapper
      span.copyright-text Copyright 2021 - #{__('Loy Yazılım')}
