extends ../partials/head
block content
  .brand-wrapper
    a.main-page-button(href=language_key ? "/?lang=" + language_key : "/")
      img(src="/res/images/logo.png" alt="usersmagic tester" class="usersmagic_logo")
    .language-change-wrapper
      a.language-text(href="/auth/lost_password?lang=tr") TR
      span |
      a.language-text(href="/auth/lost_password?lang=en") EN
  .all-wrapper
    form.all-inner-wrapper.lost-password-form
      span.logo-name usersmagic
      input.general-input-with-border#email-input(type="email" placeholder=__('E-Mail') autofocus autocomplete="off")
      button.general-seablue-button.reset-password-button
        span #{__('Reset Password')}
      span.error-text#bad-request-error #{__('Please write your email')}
      span.error-text#not-found-error #{__('This account is not found')}
      span.error-text#network-error #{__('Please check your internet connection and try again')}
      span.error-text#unknown-error #{__('An unknown error occured, please try again later')}
      span.no-error-text#no-error #{__('We send an email to you with the instructions to reset your password. Please check your email.')}
    .bottom-wrapper
      span.copyright-text Copyright 2021 - #{__('Loy Yazılım')}
