extends ../partials/head
block content
  span.logout-title.display-none= __('Are you sure you want to logout?')
  span.confirm-text.display-none= __('Confirm')
  span.cancel-text.display-none= __('Cancel')
  input.display-none#countries(type="text" value=JSON.stringify(countries))
  span.display-none#bad-request-error #{__('Please write your password')}
  span.display-none#authentication-error #{__('Your password is wrong')}
  span.display-none#network-error #{__('Please check your internet connection and try again')}
  span.display-none#unknown-error #{__('An unknown error occured, please try again later')}
  .close-account-outer-wrapper
    .close-account-wrapper
      span.close-account-title= __('Are you sure you want to close your account?')
      span.close-account-text= __('Please write you password to confirm you want to close this account. Once you close your account, you will loose access to your current credit.')
      input.general-input-with-border#close-account-password-input(type="password" placeholder=__('Password'))
      .close-account-buttons-wrapper
        .general-seablue-border-button.close-account-back-button
          span= __('Cancel')
        .close-account-confirm-button
          span= __('Close My Account')
      span.close-account-error
  .all-wrapper
    .navigation-bar-wrapper
      img.navigation-bar-logo(src="/res/images/logo.png" alt="usersmagic tester")
      a.navigation-bar-button(href="/campaigns")
        i.fas.fa-home
      a.navigation-bar-button(href="/wallet")
        i.far.fa-credit-card
      a.navigation-bar-button.selected-navigation-bar-button(href="/profile")
        i.fas.fa-cog
      a.navigation-bar-button(href="https://discord.com/oauth2/authorize?response_type=code&client_id=839767550217027594&scope=identify%20guilds.join&state=15773059ghq9183habn&redirect_uri=http://localhost:3000/discord&prompt=consent")
        i.fas discord
    .all-content-wrapper
      .all-content-inner-wrapper
        span.general-input-title= __('Email')
        span.general-input-with-border-no-change= user.email
        span.general-input-title= __('Full Name')
        input.general-input-with-border#name-input(type="text" placeholder="Full Name" value=user.name)
        //- span.general-input-title Country of Residence
        //- .general-drop-down-list-outer-wrapper(style="z-index: 5;")
        //-   .general-drop-down-list-wrapper(style="z-index: 5;")
        //-     input.general-drop-down-list-input#country-visible-input(type="text" autocomplete="none" placeholder=__('Country') value=__(country.name))
        //-     input.general-drop-down-list-input-not-visible#country-input(type="text" value=user.country)
        //-     input.general-drop-down-list-items-json(type="text" value=JSON.stringify(countries.map(country => { return {name: __(country.name), id: country.alpha2_code} })))
        //-     .general-drop-down-choices-wrapper
        //-       each country in countries
        //-         span.general-drop-down-list-each-item(id=country.alpha2_code)= __(country.name)
        span.general-input-title= __('Phone Number')
        label.phone-code-input-wrapper
          span.phone-code#phone-code +#{country.phone_code}
          input.phone-code-input#phone-input(type="text" placeholder=__('Phone Number') value=user.phone.substr((1 + (country.phone_code).toString().length), user.phone.length))
        //- .general-seablue-button.update-button
        //-   span= __('Update')
        .general-seablue-border-button.logout-button
          span= __('Logout')
      span.close-account-button= __('Close My Account')
