extends ../partials/head
block content
  input.display-none#target-id(type="text" value=target_id.toString())
  input.display-none#project(type="text" value=JSON.stringify(project))
  span.display-none#unknown-error= __('An unknown error occured, please refresh the page and try again')
  span.display-none#write-email-error= __('Please write your email')
  span.display-none#confirm-email-error= __('Please confirm your email')
  span.display-none#wrong-confirm-email-error= __('Your confirmation does not match. Please retry')
  span.display-none#write-password-error= __('Please write your password')
  span.display-none#wrong-password-error= __('Your password is wrong, please try again')
  span.display-none#agreement-error= __('Please accept the User Agreement and Privacy Statement')
  span.short-text-type.display-none= __('short_text')
  span.long-text-type.display-none= __('short_text')
  span.range-type.display-none= __('range')
  span.radio-type.display-none= __('radio')
  span.checked-type.display-none= __('checked')
  span.open-answer-type.display-none= __('open_answer')
  span.multiple-choice-type.display-none= __('multiple_choice')
  span.opinion-scale-type.display-none= __('opinion_scale')
  span.yes-no-type.display-none= __('yes_no')
  span.unknown-error-title.display-none= __('An unknown error occured')
  span.try-again-later-text.display-none= __('Please try again later. If the problem continues, contact us at hello@usersmagic.com.')
  span.okay-text.display-none= __('Okay')
  span.confirm-text.display-none= __('Confirm')
  span.cancel-text.display-none= __('Cancel')
  span.your-answer.display-none= __('Your answer')
  span.required.display-none= __('Required')
  span.not-required.display-none= __('Not required')
  span.no.display-none= __('NO')
  span.yes.display-none= __('YES')
  span.clear-answers.display-none= __('Clear answer')
  span.are-you-sure-title.display-none= __('Are you sure you want to continue?')
  span.no-update-after-submit-text.display-none= __('You cannot edit or delete your answers once you submit your test. You must rejoin the campaign if your answers are rejected, so please double-check what you wrote. Thank you :)')
  span.other.display-none= __('Other')
  .all-wrapper
    .start-page-wrapper
      form.email-page-one-wrapper
        span.email-title= __('Write your email to start')
        input.general-input-with-border#email-input(type="email" placeholder=__('Email') autofocus autocomplete="none")
        button.general-seablue-button
          span= __('Continue')
        span.email-error.page-one-email-error
      form.email-page-two-wrapper(style="display: none")
        span.email-title= __('Please rewrite your email')
        span.email-info= __('We need you to confirm your email, just to make sure :)')
        input.general-input-with-border#confirm-email-input(type="email" placeholder=__('Confirm Email') autocomplete="none")
        .agreement-wrapper
          input.display-none#approve-agrement-input(type="checkbox")
          .agreement-checkbox-wrapper
            i.fas.fa-check
          span
            span.agreement-text #{__('By clicking the box, you accept')}
            a.agreement-link(href="/agreement/user")  #{__('User Agreement')}
            span.agreement-text  #{__('and')}
            a.agreement-link(href="/agreement/privacy")  #{__('Privacy Statement')}
            span.agreement-text  #{__('for using Usersmagic and give your permission for protection and usage of your informations.')}
        button.general-seablue-button
          span= __('Confirm')
        span.email-error.page-two-email-error
      form.validate-password-wrapper(style="display: none") 
        span.email-title= __('Please write your password')
        span.email-info= __('We found an account with this email. Please write your password to access it.')
        .lost-password-wrapper
          a.lost-password-link(href="/auth/lost_password" + (language_key ? ("?lang=" + language_key) : "")) #{__('Reset Password')} 
        input.general-input-with-border#password-input(type="password" placeholder=__('Your password'))
        button.general-seablue-button
          span= __('Continue')
        span.email-error.password-error
    .question-outer-wrapper(style="display: none")
      .back-button
        i.fas.fa-arrow-left
      .question-wrapper
      .country-question-wrapper(style="display: none")
        .question-progress-bar
          .question-progress-bar-inner-line
        .question-info-wrapper
          span.question-required #{__('Required')}
        span.question-text Please select the country you live in
        .general-drop-down-list-outer-wrapper(style="z-index: 5;")
          .general-drop-down-list-wrapper(style="z-index: 5;")
            input.general-drop-down-list-input#country-visible-input(type="text" autocomplete="none" placeholder=__('Country'))
            input.general-drop-down-list-input-not-visible#country-input(type="text")
            input.general-drop-down-list-items-json(type="text" autocomplete="none" value=JSON.stringify(countries.map(country => { return {name: __(country.name), id: country.alpha2_code} })))
            .general-drop-down-choices-wrapper
              each country in countries
                span.general-drop-down-list-each-item(id=country.alpha2_code)= __(country.name)
      .gender-question-wrapper(style="display: none")
        .question-progress-bar
          .question-progress-bar-inner-line
        .question-info-wrapper
          span.question-required #{__('Required')}
        span.question-text Please select your gender
        .general-drop-down-list-outer-wrapper(style="z-index: 4;")
          .general-drop-down-list-wrapper(style="z-index: 4;")
            input.general-drop-down-list-input#gender-visible-input(type="text" autocomplete="none" placeholder=__('Gender'))
            input.general-drop-down-list-input-not-visible#gender-input(type="text")
            input.general-drop-down-list-items-json(type="text" autocomplete="none" value=JSON.stringify(genders.map(gender => { return {name: __(gender.name), id: gender.id} })))
            .general-drop-down-choices-wrapper
              each gender in genders
                span.general-drop-down-list-each-item(id=gender.id)= __(gender.name)
      .birth-year-question-wrapper(style="display: none")
        .question-progress-bar
          .question-progress-bar-inner-line
        .question-info-wrapper
          span.question-required #{__('Required')}
        span.question-text Please enter your birth year
        input.general-input-with-border#birth-year-input(type="number" placeholder=__('Birth Year') autocomplete="off" min="1920" max="2020")
      .next-button
        i.fas.fa-arrow-right
    .finish-page-outer-wrapper(style="display: none")
      .finish-page-wrapper
        span.finish-page-title #{__('Your Answers')}:
        .finish-page-questions-wrapper
        .finish-page-buttons-wrapper
          .general-seablue-border-button.finish-page-back-button
            span= __('Back')
          .general-seablue-button.finish-page-submit-button
            span= __('Submit')
